@import url(https://fonts.googleapis.com/css?family=Roboto:300);

  body {
    background-image: url("texture.png");
    background-color: #001848;
    color: #F2F6EA;
  }
  .nav {
    margin-top: 15px;
    margin-right: 15px;
  }
  a {
    text-decoration: none;
    color: #F2F6EA;
  }
  .nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #F2F6EA;
    text-transform: uppercase;
    border-top: hidden;
  }
  .nav a:hover {
    border-top: 5px solid #A84649;
    padding-top: 5px;
    color: #A84649 !important;
  }
  .nav a:visited {
    color: #F2F6EA;
  }
  .nav h2 {
    text-align: center;
  }
  .wrapper {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
  }
  .header {
    width: 100%;
    height: 40px;
    padding: 5px;
    background-color: #83979E;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    opacity: 0.95;
  }
  .header h1 {
    margin-left: 15px;
  }
  .content {
    flex-direction: row;
    justify-content: space-around;
  }
  .rider-content {
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0;
  }
  .short-box {
    width: 45%;
    height: 600px;
    margin: 0 auto;
  }
  .dex-box {
    margin-left: 0px;
  }
  .icon {
    margin-right: 17.5%;
  }
  .red-button {
    margin-left: 12.5%;
  }
  .dex-icon {
    margin-left: 15%;
  }
  #whereis {
    margin-left: 12.5%;
    font-size: 30px;
  }
  .form-container {
    width: 100%;
    margin-left: 0;
    position: relative;
  }
  .instructions {
    margin-top: 7%;
    margin-right: 15px;
    margin-left: 0;
  }
  /*** font layout for main header***/
  h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #F2F6EA;
    margin: 0 auto;
  }
  /***font layout for other headers***/
  h2 {
    font-family: Roboto, sans-serif;
    color: #F2F6EA;
    text-align: center;
    text-transform: uppercase;
  }
  .box h2 {
    color: #A84649;
  }
  .status_update {
    font-family: Roboto, sans-serif;
    color: #233c63 !important;
    text-align: center;
    text-transform: uppercase;
  }
  /***  =========== Middle of page content  ===========  ***/

  /*** statusbox is the element that is populated by an update
message when a button is pressed on the driver page ***/
  p {
    width: 80%;
    margin: 15%;
    background-color: #F2F6EA;
    font-family: Roboto, sans-serif;
    color: #001848;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 30px;
    margin-top: 7.5%;
    position: relative;
  }


  #missing:hover {
    color: #A84649;
    text-decoration: underline;
    cursor: pointer;
  }

  #late:hover {
    color: #A84649;
    text-decoration: underline;
    cursor: pointer;
  }

  .statusbox {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 100px;
    margin-bottom: 15px;
    border: 2px solid #f8f8f8;
    padding: 5px;
    border-radius: 5px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /*** content is the wrapper for the box-type middle page elements ***/
  .content {
    margin-top: 100px;
    width: 100%;
    height: 1400px;
    display: flex;
    flex-direction: row;
		justify-content: space-around;
  }
  .rider-content {
    margin-top: 100px;
    margin-left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  /***  =========== Box Containers =========== ***/
  .box {
    width: 70%;
    height: 880px;
    margin: 0 auto;
  }
  .short-box {
    width: 70%;
    height: 400px;
    margin: 0 auto;
  }
  /***  =========== Toggle buttons  =========== ***/
  .switchwrap {
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
  }
  .switchbtn {
    color: #001848;
    padding: 5px 20px;
    border: 2px solid #001848;
    background-color: transparent;
    border-radius: 20px;
  }
  .switchbtn:hover {
    color: #F2F6EA;
    background-color: #001848;
    transition: all 0.5s ease;
  }
  /*** butt adds flex-box status to box class elements that hold
buttons inside them ***/
  .butt {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*** dex-box is a speicifc class targeting the button box
on index.html ***/

  .dex-box {
    width: 70%;
    height: 850px;
    border-radius: 5px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  /*  =========== Dropdown Button  =========== */

  .dropbtn {
    width: 80%;
    height: 60px;
    border: 3px solid #83979E;
    margin-left: 12%;
    font-family: Roboto, times, serif;
    color: #83979E;
    font-size: 14px;
    background-color: transparent;
    text-transform: uppercase;
  }
  .dropbtn:hover, .dropbtn:focus {
    color: #F2F6EA;
    background-color: #83979E;
    transition: all 0.5s ease;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    outline: none;
  }
  .dropdown-content {
    position: absolute;
    display: none;
  }
  .dropdown:hover .dropdown-content {
    display: inline-block;
    background-color: #83979E;
    position: absolute;
    width: 80%;
    height: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 12%;
  }
  .dropdown:hover .dropbtn {
    color: #83979E;
    background-color: #F2F6EA;
    transition: all 0.5s ease;
  }
  .dropdown:hover .dropdown-content a {
    color: white;
    font-family: Roboto, times, serif;
    font-weight: lighter;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  .dropdown-content a:hover {
    background-color: #47476b;
  }
  /***  =========== All Buttons  =========== ***/

  button {
    width: 90%;
    height: 60px;
    margin-left: 5%;
    margin-top: 30px;
    font-family:"Roboto", times, serif;
    background: transparent;
    color: #233c63;
    border: 5px solid #233c63;
    font-size: 15px;
}
  button:hover {
    color: #F8F8FF;
    background-color: #233c63;
    transition: all 0.5s ease;
  }

 /***  =========== Status Buttons  =========== ***/

  .statusbutton {
    width: 80%;
    height: 60px;
    border: 3px solid #83979E;
    margin-left: 12%;
    font-family: Roboto, times, serif;
    color: #83979E;
    font-size: 14px;
    background-color: transparent;
    text-transform: uppercase;
    outline: none;
  }
  .statusbutton:hover {
    color: #F2F6EA;
    background-color: #83979E;
    transition: all 0.5s ease;
  }
  #missingBtn {
    text-decoration: none;
    color: #233c63;
    background-color: transparent;
    border: 2px solid #233c63;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    left: 37%;
    bottom: 12%;
  }
  #missingBtn:hover {
    color: #F8F8FF;
    background-color: #233c63;
    transition: all 0.5s ease;
  }
  #lateBtn {
    text-decoration: none;
    color: #233c63;
    background-color: transparent;
    border: 2px solid #233c63;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    left: 37%;
    bottom: 12%;
  }
  #lateBtn:hover {
    color: #F8F8FF;
    background-color: #233c63;
    transition: all 0.5s ease;
  }
  #missinggoback {
    text-decoration: none;
    color: #001848;
    background-color: transparent;
    border: 2px solid #001848;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    left: 37%;
    bottom: 12%;
  }
  #missinggoback:hover {
    color: #F2F6EA;
    background-color: #001848;
    transition: all 0.5s ease;
  }
  #lategoback {
    text-decoration: none;
    color: #001848;
    background-color: transparent;
    border: 2px solid #001848;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    left: 37%;
    bottom: 12%;
  }
  #lategoback:hover {
    color: #F2F6EA;
    background-color: #001848;
    transition: all 0.5s ease;
  }

  /*** =========== Forms  =========== ***/

  form {
    width: 368px;
  }
  .form-container {
    position: relative;
    width: 100%;
    max-height: 500px;
    background-color: #83979E;
    display: block;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    overflow-y: auto;
  }

.custom-dropdown--large {
	font-size: 1.5em;
	width: 100%;
}

.custom-dropdown--small {
	font-size: .7em;
	width: 100%;
}

.custom-dropdown__select{
	font-size: inherit; /* inherit size from .custom-dropdown */
	padding: .5em; /* add some space*/
	margin: 0; /* remove default margins */
	width: 100%;
}

.custom-dropdown__select--white {
	background-color: #96afb7;
	color: #A84649;
}

@supports (pointer-events: none) and
	  ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
	  (appearance: none)) {

	.custom-dropdown {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}

	.custom-dropdown__select {
		padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
		border: 0;
		border-radius: 3px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	.custom-dropdown::before,
	.custom-dropdown::after {
		content: "";
		position: absolute;
		pointer-events: none;
	}

	.custom-dropdown::after { /*  Custom dropdown arrow */
		content: "\25BC";
		height: 1em;
		font-size: .625em;
		line-height: 1;
		right: 1.2em;
		top: 50%; margin-top: -.5em;
	}

	.custom-dropdown::before { /*  Custom dropdown arrow cover */
		width: 2em;
		right: 0; top: 0; bottom: 0;
		border-radius: 0 3px 3px 0;
	}

	.custom-dropdown__select[disabled] {
		color: rgba(0,0,0,.3);
	}

	.custom-dropdown.custom-dropdown--disabled::after {
		color: rgba(0,0,0,.1);
	}

	/* White dropdown style */
	.custom-dropdown--white::before {
		background-color: #fff;
		border-left: 1px solid rgba(0,0,0,.1);
	}

	.custom-dropdown--white::after {
		color: rgba(0,0,0,.9);
	}

	/* FF only temp fix */
	@-moz-document url-prefix() {
		.custom-dropdown__select 			 { padding-right: .9em }
		.custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
		.custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
	}
}
  .form-container li {
    display: block;
  }
  .form-container li input {
    background-color: #96afb7;
    color: #A84649;
    border: none;
    border-radius: 20px;
    padding: 15px;
    margin: 0 0 15px;
    outline: 0;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  .form-container li input::placeholder {
    color: #F2F2F2;
    font-family: 'Roboto';
  }
  .form-container li .submit-button {
    background-color: #001848;
    border-radius: 0px;
    color: #F2F6EA;
    font-size: 14px;
    width: 100%;
  }
  .form-container li .submit-button:hover {
    background-color: #A84649;
    color: #F2F6EA;
  }

/*  =========== Rider forms  =========== */

  .rider-alerts {
    margin-left: 15%;
  }
  .rider-form {
    width: 80%;
    margin: 15% 17.5% 15px 0px;
    background-color: #F2F6EA;
    font-family: Roboto, sans-serif;
    color: #001848;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 30px;
    margin-top: 7.5%;
    position: relative;
    
  }
  .rider-form input {
    background: transparent;
    color: #001848;
    margin: 5px 5px 10px 0;
    font-weight: lighter;
  }
  .rider-form input:hover {
    color: #001848;
    transition-delay: 1s;
    transition: all 0.6s ease;
  }
  .rider-form #latesubmit {
    text-decoration: none;
    color: #001848;
    background-color: transparent;
    border: 2px solid #001848;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    left: 37%;
    bottom: 12%;
  }
  .rider-form #latesubmit:hover {
    color: #F2F6EA;
    background-color: #001848;
    transition: all 0.5s ease;
  }
  .rider-form #missingsubmit {
    text-decoration: none;
    color: #001848;
    background-color: transparent;
    border: 2px solid #001848;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    left: 37%;
    bottom: 12%;
  }
  .rider-form #missingsubmit:hover {
    color: #F2F6EA;
    background-color: #001848;
    transition: all 0.5s ease;
  }

  /*  =========== Form validation  =========== */

  .messageBox {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 60%;
    left: 110%;
    text-align: left !important;
    background-color: brown;
  }
  .rider-alerts {
    position: relative;
    width: 100%;
  }
  .rider-errors {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    top: 2%;
    left: 50%;
    text-align: left;
    z-index: 10;
    background-color: brown;
    padding: 12px;
  }

  /***  =========== Animation  =========== ***/

  .bussie-center {
    margin-top: 8%;
  }
  .icon-wrap {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .icon {
    height: 350px;
    width: 350px;
    margin-right: 15%;
  }
  .dex-icon {
    margin-top: -50px;
    height: 350px;
    width: 350px;
    margin-left: 12.5%;
  }

  /***  =========== Rider Page Schedule Tables  =========== ***/

  table {
    border-collapse: separate;
    background: #F2F6EA;
    margin: 50px auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  thead {
    @include border-radius(5px);
  }
  thead tr th .title {
    text-align: center;
    column-span: all;
    background: #edf0f4;
  }
  thead th {
    font-family: Roboto, cursive;
    font-size: 16px;
    font-weight: 400;
    color: #F2F6EA;
    @include text-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
    text-align: center;
    padding: 20px;
    background-color: #A84649;
  }
  tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #001848;
    font-size: 13px;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #e0e0e0;
  }
  #pink {
    color: #A84649;
  }

  /**  =========== Driver/Admin Instructions  =========== **/

  .instructions {
    background-color: #F2F6EA;
    font-family: Roboto, sans-serif;
    max-height: 500px;
    max-width: 100%;
    color: #001848;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 5px;
    margin-right: 65px;
    position: relative;
    overflow-y: auto;
  }
  .instructions h2 {
    color: #A84649;
    align: center;
  }
  .instructions ul li {
    list-style-type: none;
    border-bottom: 1px solid #333;
    padding: 15px;
    margin: 0 auto;
    margin-right: 20px;
    margin-top: 20px;
  }
  .instructions ul li a:hover {
    color: #F8F8FF;
    background-color: #233c63;
    transition: all 0.5s ease;
  }
  #returnBtn {
    color: #233c63;
    padding: 5px 20px;
    border: 2px solid #233c63;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
  }
  #returnBtn:hover {
    color: #F8F8FF;
    background-color: #233c63;
    transition: all 0.5s ease;
  }
  .instructions ul li a {
    text-decoration: none;
    color: #233c63;
    background-color: transparent;
    border: 2px solid #233c63;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }
