<!doctype html>
<head>
	<title>Forbidden Access </title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Forbideen Access</h1>
	</div>
	<div class="content">
		<div class="instructions">
			<h2> Oops, it turns out only the grown ups can access this page. If you think you're a grown up and you need access please contact the system adminstrator, if not</h2
			<h2> <a href= {{ url_for('home') }}> Click me to go some place nice </a></h2>
		</div>
	</div>
</div>
</body>
</html>
