<!doctype html>
<head>
	<title>Forbidden Access </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="../static/css/mobile.css" media="screen and (max-device-width:480px)" rel="stylesheet">
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Forbidden Access</h1>s
	</div>
	<div class="content">
		<h3> You don't have access to this page.</h3>
		<h3> <a style="border-bottom: solid 2px #233c63" href= {{ url_for('home') }}> Go back </a></h3>
	</div>
</div>
</body>
</html>
