<!doctype html>
<head>
	<title>Page Not Allowed </title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Forbideen Access</h1>
	</div>
	<div class="content">
		<h3> Oops, it turns out only the grown ups can access this page. If you think you're a grown up and you need access please contact the system adminstrator, if not</h3
		<h3> <a href= {{ url_for('home') }}> Go some place nice </a></h3>
	</div>
</div>
</body>
</html>
