<!doctype html>
<head>
	<title>Server Error </title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Internal Server Error</h1>
	</div>
	<div class="content">
		<div class="instructions">
			<h2> Sorry our server is down at the moment. We'll get to it as soon as possible.</h2>
			<h2> <a href= {{ url_for('home') }}> In the meantime, click me to go some place nice </a></h2>
		</div>
	</div>
</div>
</body>
</html>
