<!doctype html>
<head>
	<title>Nightbus | Add Users </title>
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
	<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/additional-methods.js"></script>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="../static/css/mobile.css" media="screen and (max-device-width:480px)" rel="stylesheet">
	<style>

	#errContainer {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background-color: brown;
		padding: 5px;
		box-sizing: border-box;
	}
	</style>
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1><a href="{{ url_for('home')}}">NightBus | Add Users</a></h1>
		<div class="nav">
			{% if user != None %}
					<a href="{{ url_for('home') }}"> Rider</a>
					<a href="{{ url_for('driver') }}"> Driver</a>
					<a href="{{ url_for('admin') }}"> Admin</a>
					<a href="{{ url_for('logout') }}"> Sign Out </a>
			{% else %}
				<a href="/login">Login</a>
			{% endif %}
		</div>
	</div>
	<div class="content">
		<form action="/add" method="post">
			<ul class="form-container">
				<li>
					<input type="text" placeholder="first name" name="firstname" required><br>
				</li>
				<li>
					<input type="text" placeholder="last name" name="lastname" required><br>
				</li>
				<li>
					<input type="text" placeholder="reed username" name="username" required><br>
				</li>
				<li>
					<input type="text" placeholder="email" name="email" required><br>
				</li>
				<li>
					<span class="custom-dropdown custom-dropdown--white">
					    <select class="custom-dropdown__select custom-dropdown__select--white" name = "role">
						<option value = "" disabled selected> select role </option>
						<option value = "admin"> Admin </option>
						<option value = "driver"> Driver </option>
					    </select>
					</span>
					<br><br>
				</li>
				<li>
					<input class="submit-button" type="submit" value="Save!">
				</li>
				<li>
					<span id="errContainer" style="display:none"></span>
				</li>
			</ul>
		</form>
	</div>
	<script>
		$(function() {
			$('form').validate({
				errorPlacement: function(error, element) {
					var hidden = false
					if (hidden == true) {
						$("errContainer").toggle();
						hidden = false}
					error.appendTo($('#errContainer'));
					$('#errContainer').css('display', 'block');
					// clear error messages whilst typing
					element.keyup(function (){
						$('#errContainer').empty()
						if (hidden == false) {
							$('#errContainer').toggle();
							hidden = true}
					});
				},
				//Specify validation rules
				rules: {
					firstname: "required",
					lastname: "required",
					username: {
						required: true,
						// check if username already exists.
						remote: {
							url: 'username_exists',
							type: 'post',
							data: {
								username: function() {
									return $("input[name=username]").val()
								}
							}
						}
					},
					email: {
						required: true,
						email: true // Specify that email should be validated by the built-in "email" rule
					},
					role: "required"
				},
				// specify validation error messages
				messages: {
					firstname: "Please enter a first name<br>",
					lastname: "Please enter a lastname<br>",
					username: {
						required: "Please enter a username<br>",
						remote: "Username is already taken<br>"
					},
					email: "Please enter a valid email address<br>",
					role: "Please assign a role<br>"
				},
				submitHandler: function(form) {
					form.submit();
				}
			});
		});
	</script>
</div>
</body>
</html>
