<!doctype html>
<head>
	<title>Nightbus | Add Users </title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Add Users</h1>
		<div class="nav">
			{% if session['logged_in'] %}
				<a href="{{ url_for('home') }}">Rider</a>
				<a href="{{ url_for('driver') }}">Driver</a>
				<a href="{{ url_for('admin') }}"> Admin</a>
				<a href="{{ url_for('logout') }}">Sign Out</a>
			{% endif %}
		</div>
	</div>
	<div class="content">
		<form action="/add" method="post">
			<ul class="form-container login">
				<li>
					<input type="text" placeholder="first name" name="firstname" required><br>
				</li>				
				<li>
					<input type="text" placeholder="last name" name="lastname" required><br>
				</li>
				<li>
					<input type="text" placeholder="username" name="username" required><br>
				</li>
				<li>
					<input type="text" placeholder="email" name="email" required><br>
				</li>
				<li>
					<input type="text" placeholder="role" name="role" required><br>
				</li>
				<li>
					<input class="submit-button" type="submit" value="Save!">
				</li>
			</ul>
		</form>
	</div>
</div>
</body>
</html>
