<!DOCTYPE html>
<head>
	<title>Nightbus | Drivers</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<div class="wrapper">
	
		<div class="header">
			<h1>NightBus Drivers</h1>
		</div>

		<div class="content">
			<div class="butt box">
				<h1>Buttons</h1>
				<button type="button">Cancel Buses!</button>
				<button type="button">Add Driver</button>
				<button type="button">Remove Driver</button>
			</div>
			<div class="box">
				<h1>Instructions</h1>
			</div>
		</div>

	</div>

</body>