<!DOCTYPE html>
<head>
	<title>Nightbus | Drivers</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script type=text/javascript src="{{url_for('static',filename='jquery-3.2.1.js') }}"></script>
	<script src='../static/main.js'></script>
</head>

<body>
	<div class="wrapper">
	
	<div class="header">
		<h1>NightBus Admins</h1>
		<div class="nav">
			<h2><a href="/">Sign-In</a><a href="../rider" >Rider</a><a href="../admin" >Admin</a></h2>
      		</div>
	</div>
		<div class = "statusbox">
		</div>
		<div class="content">
			<div class="butt box">
				 <button value="cancelled" id="cancelled" type="button" class = "statusbutton">Cancel NightBus</button>
				<a href = "../schedule"><button type = "button">Edit Driver Schedule</button></a>
				<a href="../add" ><button type="button">Add Driver</button></a>
				<a href="../remove" ><button type="button">Remove Driver</button></a>
			</div>
			<div class="box">
				<h2>Instructions</h2>
			</div>

  			</div>
		</div>

	</div>
</body>