<!doctype html>
<head>
	<title>Page Not Found </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="../static/css/mobile.css" media="screen and (max-device-width:480px)" rel="stylesheet">
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Page Not Found</h1>
	</div>
	<div class="content">
		<h3> A password reset link has been sent to your email address</h3>
	</div>
</div>
</body>
</html>
