<!doctype html>
<head>
	<title>Nightbus | Add Users </title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
	<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/additional-methods.js"></script>
	<style>

	#err {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background-color: brown;
		padding: 5px;
		box-sizing: border-box;
	}
	</style>
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Login</h1>
	</div>
	<div class="content">
		<form action="/set_password/{{ token }}" method="post">
			<ul class="form-container">
				<li>
					<input id='password' type="password" placeholder="Enter password" name="password" required><br>
				</li>
				<li>
					<input type="password" placeholder="Confirm password" name="password_repeat" required><br>
				</li>
				<li>
					<input class="submit-button" type="submit" value="Save!">
				</li>
				<li>
					<span id="err" style='display:none'></span>
				</li>
			</ul>
		</form>
	</div>

	<script>
		$(function() {
			$('form').validate({

				errorPlacement: function(error, element) {
					var hidden = false
					if (hidden == true) {
						$("err").toggle();
						hidden = false}
					error.appendTo($('#err'));
					$('#err').css('display', 'block');
					// clear error messages whilst typing
					element.keyup(function (){
						$('#err').empty()
						if (hidden == false) {
							$('#err').toggle();
							hidden = true}
					});

				},

				rules: {
					password: {
						required: true,
						minlength: 5
					},
					password_repeat: {
						required: true,
						minlength: 5,
						equalTo: '#password'
					}
				},
				messages: {
					password: {
						required: "Enter password<br>",
						minlength: "Your password must be at least 5 characters long<br>"
					},
					password_repeat: {
						required: "Reenter password<br>",
						equalTo: 'Password must match'
					}
				}

			});
		});
	</script>
</div>
</body>
</html>
