<!doctype html>
<head>
	<title>Nightbus | Add Users </title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Login</h1>
	</div>
	<div class="content">
		<form action="/set_password/{{ token}}" method="post">
			<ul class="form-container">
				<li>
					<input type="password" placeholder="Enter Password" name="password" required><br>
				</li>
				<li>
					<input class="submit-button" type="submit" value="Save!">
				</li>
			</ul>
		</form>
	</div>
</div>
</body>
</html>
