<!DOCTYPE html>

<head>
  <title>Nightbus | View Schedule</title>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src='../static/js/main.js'></script>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="../static/css/mobile.css" media="screen and (max-device-width:480px)" rel="stylesheet">
  <style>

  @media screen and (max-width: 768px) {
  .content {
    width: auto;
  }
  table {
    max-width: 100%;
  }
}
</style>
</head>

<body>
  <div class="wrapper">

    <div class="header">
        <h1><a href="{{ url_for('home')}}">The NightBus</a></h1>
		<div class="nav">
			{% if session['logged_in'] %}
				<a href="{{ url_for('home') }}">Rider</a>
				<a href="{{ url_for('driver') }}">Driver</a>
				<a href="{{ url_for('admin') }}"> Admin</a>
				<a href="{{ url_for('logout') }}">Sign Out</a>
			{% endif %}
		</div>
    </div>
    <div class="content">
      <table>
        <thead>
          <tr>
            <th> Day </th>
            <th> Driver </th>
          </tr>
        </thead>
        {% for person in drivers %}
        <tr>
          <td>{{person.day}}</td>
          <td>{{ person.firstname}} {{ person.lastname }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td class="switchwrap" colspan="2"><a class="switchbtn" href="schedule">Back</a></td>
        </tr>
      </table>
    </div>
  </div>

</body>
