<!doctype html>
<head>
	<title>Nightbus | Add Users </title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<!-- Include jQuery Mobile stylesheets -->
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

<!-- Include the jQuery library -->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include the jQuery Mobile library -->
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<style>
@media screen and (max-width: 768px) {
	.wrapper {
		width: auto;
	}
	.content {
		max-width: 100%;
		margin: 0 auto;
	}
	.form-container {

	}
}
</style>
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Login</h1>
	</div>
	<div class="content">
		<form action="/driverlogin" method="post">
			<ul class="form-container">
				<li>
					<input type="text" placeholder="username" name="username" required><br>
				</li>
				<li>
					<input type="password" placeholder="password" name="password" required><br>
				</li>
				<li>
					<input class="submit-button" type="submit" value="Save!">
				</li>
				<li>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								{{ message }}
							{% endfor %}
						{% endif %}
					{% endwith %}
				</li>
			</ul>
		</form>
	</div>
</div>
</body>
</html>
