<!doctype html>
<head>
	<title>Nightbus | Add Users </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="../static/css/mobile.css" media="screen and (max-device-width:480px)" rel="stylesheet">
<style>
@media screen and (max-width: 768px) {
	.wrapper {
		width: auto;
	}
	.content {
		max-width: 100%;
		/*background-color: brown;*/
		max-height: 50%;
	}
	.form-container {
		width: inherit;
		margin: 0 15px;
	}
}
</style>
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Login</h1>
	</div>
	<div class="content">
		<form action="/driverlogin" method="post">
			<ul class="form-container login">
				<li>
					<input type="text" placeholder="username" name="username" required><br>
				</li>
				<li>
					<input type="password" placeholder="password" name="password" required><br>
				</li>
				<li>
					<input class="submit-button" type="submit" value="Save!">
				</li>
				<li>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								{{ message }}
							{% endfor %}
						{% endif %}
					{% endwith %}
				</li>
			</ul>
		</form>
	</div>
</div>
</body>
</html>
