<!DOCTYPE html>

<head>
	<title>Nightbus | Drivers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src='../static/js/main.js'></script>
	<link href="../static/css/normalize.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
	<link href="../static/css/mobile.css" media="screen and (max-device-width:480px)" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
	<div class="header">
		<h1><a href="{{ url_for('home')}}"> NightBus | Drivers</a></h1>
		<div class="nav">
			{% if user != None %}
				{% if user.role == 'admin' %}
					<a href="{{ url_for('home') }}"> Rider</a>
					<a href="{{ url_for('admin') }}"> Admin</a>
					<a href="{{ url_for('logout') }}"> Sign Out </a>
				{% else %}
					<a href="{{ url_for('home') }}"> Rider</a>
					<a href="{{ url_for('logout') }}"> Sign Out </a>
				{% endif %}
			{% else %}
				<a href="/login">Login</a>
			{% endif %}
		</div>
	</div>

		<div class="content">
			<div class="butt short-box">
				<button value="here" id="here" type="button" class="statusbutton" onclick="submitstatus()">On Campus</button>
				<button value="leaving" id="leaving" type="button" class="statusbutton" onclick="submitstatus()">Just Left</button>
				<button value="coming" id="coming" type="button" class="statusbutton" onclick="submitstatus()">Coming Back</button>
			</div>
			<div class="short-box">
				<div id="instructions" class="instructions">
					<h2>Instructions</h2>
					<ul>
						<li> <b> Within this app, you as the NightBus driver can communicate with your riders using the buttons on the left in order to update the general location of the NightBus: </b></li>
			
						<li>Press the "On Campus" button when you arrive at Eliot Circle. This will display "The NightBus is here!" on the homepage.
						<br><br>
						Press the "Just Left" button when you are ready to leave. This will display "Route in progress" on the homepage.
						<br><br>
						Press the "Coming Back" button after you've made your final stop and are ready to return to campus. This will display
						"The NightBus is headed back" on the homepage.</li>
						<br><br>
						<li> <b> Additionally, riders may communicate with you by using the rider alert forms on the homepage. There are two different forms: </b></li>
			
						<li>The "Report the NightBus missing" form allows a rider to report the NightBus missing. This will send an email to reednightbus@gmail.com, an account
						which should be linked to the designated NightBus phone. You, or an admin of the NightBus, may reply directly to this person's email explaining
						when and if the NightBus will arrive.
						<br><br>
						The "I'm late! Please wait 5 minutes!" form allows a rider to request that the NightBus wait a few minutes for them to arrive. This feature also sends
						 an email to reednightbus@gmail.com that allows you to reply directly to them. </li>
						<li style="border: none;"><a id="toggleBtn">View Driver Schedule</a></li>
					</ul>
				</div>

				<div id="schedule" style="display:none">
					<table>
						<thead>
							<tr>
								<th> Day </th>
								<th> Driver </th>
							</tr>
						</thead>
						{% for person in drivers %}
						<tr>
							<td>{{person.day}}</td>
							<td>{{ person.firstname}} {{ person.lastname }}</td>
						</tr>
						{% endfor %}
					<tr>
						<td class="switchwrap" colspan="2"><a id="returnBtn" style="display:none">Back</a></td>
					</tr>
					</table>
				</div>
				<script>
					$(document).ready(function() {
						$("#toggleBtn").click(function() {
							$("#schedule").toggle();
							$("#instructions").toggle();
							$("#returnBtn").toggle();
						});
					});
				</script>

				<script>
					$(document).ready(function() {
						$("#returnBtn").click(function() {
							$("#schedule").toggle();
							$("#instructions").toggle();
							$("#returnBtn").toggle();
						});
					});
				</script>
			</div>
		</div>
	</div>
</body>
