<!DOCTYPE html>
<head>
	<title>Nightbus | Drivers</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
	<script src='../static/main.js'></script>
</head>

<body>
	<div class="wrapper">

	<div class="header">
		<h1>The NightBus</h1>
		<div class="nav">
			<p><a href="/" >Sign-In</a><a href="../rider">Rider</a><a href="../admin" >Admin</a></p>
		</div>
	</div>

		<div class="content">
			<div class="butt box">
				<h2>Buttons</h2>
				<button type="button">On Campus</button>
				<button type="button">Just Left</button>
				<button type="button">Coming Back</button>
			</div>
			<div class="box">
				<h2>Instructions</h2>
			</div>
		</div>

	</div>

</body>