<!DOCTYPE html>

<head>
	<title>Nightbus | Drivers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src='../static/js/main.js'></script>
	<link href="../static/css/normalize.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
	<link href="../static/css/mobile.css" media="screen and (max-device-width:480px)" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
	<div class="header">
		<a href="{{ url_for('home')}}"><h1> NightBus | Drivers</h1></a>
		<div class="nav">
		{% if session['logged_in'] %}
			{% if session['role'] == 'admin' %}
				<a href="{{ url_for('home') }}"> Rider</a>
				<a href="{{ url_for('admin') }}"> Admin</a>
				<a href="{{ url_for('logout') }}"> Sign Out </a>
			{% else %}
				<a href="{{ url_for('home') }}"> Rider</a>
				<a href="{{ url_for('logout') }}"> Sign Out </a>
			{% endif %}
		{% else %}
			<a href="{{ url_for('driverlogin') }}">Driver Login</a>
			<a href="{{ url_for('adminlogin') }}">Admin Login</a>
		{% endif %}
		</div>
	</div>

		<div class="content">
			<div class="butt short-box">
				<button value="here" id="here" type="button" class="statusbutton" onclick="submitstatus()">On Campus</button>
				<button value="leaving" id="leaving" type="button" class="statusbutton" onclick="submitstatus()">Just Left</button>
				<button value="coming" id="coming" type="button" class="statusbutton" onclick="submitstatus()">Coming Back</button>
			</div>
			<div class="short-box">
				<div id="instructions" class="instructions">
					<h2>Instructions</h2>
					<ul>
						<li> <b> Within this app, there are two ways in which you as the NightBus driver can communicate with your riders: </b> </li>
						<li> Using the buttons on the left in order to update the general location of the NightBus:
							<br><br>
						Press the "On Campus" button when you arrive at Eliot Circle. This will display "The NightBus is here!" on the homepage.
						<br><br>
						Press the "Just Left" button when you are ready to leave. This will display "The NightBus is gone!" on the homepage.
						<br><br>
						Press the "Coming Back" button after you've made your final stop and are ready to return to campus. This will display
						"The NightBus is coming!" on the homepage.</li>
						<li> Or by using the real time tracking feature, located in the navigation bar under "Tracking":
						 	Clicking on the "Tracking" tab will redirect you to a page in which you can enter the addresses of the rider. Once
							you submit these addresses, the app will create a map and turn by turn instructions of your route. Additionally,
							it will display an estimate of your trip's duration on the homepage, i.e. "The NightBus will return in ## minutes!"
							<br><br>
							Pressing the "Maps" tab will take your to the map and turn by turn instruction page.
							<br><br>
							Warning: this feature will remain engaged until you press one of the status buttons, so please press "Here" when
							you arrive back on campus in order to disengage the tracking updates. </li>
						<li> <b> Finally, riders may communicate with you by using the rider alert forms on the homepage. There are two different forms: </b>
							<br><br>
						The "Report the NightBus missing" form allows a rider to report the NightBus missing. This will send an email to reednightbus@gmail.com, an account
						which should be linked to the designated NightBus phone. You, or an admin of the NightBus, may reply directly to this person's email explaining
						when and if the NightBus will arrive.
						<br><br>
						The "I'm late! Please wait 5 minutes!" form allows a rider to request that the NightBus wait a few minutes for them to arrive. This feature also sends
						 an email to reednightbus@gmail.com that allows you to reply directly to them. </li>
						<li style="border: none;"><a id="toggleBtn">View Driver Schedule</a></li>
					</ul>
				</div>

				<div id="schedule" style="display:none">
					<table>
						<thead>
							<tr>
								<th> Day </th>
								<th> Driver </th>
							</tr>
						</thead>
						{% for person in drivers %}
						<tr>
							<td>{{person.day}}</td>
							<td>{{ person.firstname}} {{ person.lastname }}</td>
						</tr>
						{% endfor %}
					<tr>
						<td class="switchwrap" colspan="2"><a id="returnBtn" style="display:none">Back</a></td>
					</tr>
					</table>
				</div>
				<script>
					$(document).ready(function() {
						$("#toggleBtn").click(function() {
							$("#schedule").toggle();
							$("#instructions").toggle();
							$("#returnBtn").toggle();
						});
					});
				</script>

				<script>
					$(document).ready(function() {
						$("#returnBtn").click(function() {
							$("#schedule").toggle();
							$("#instructions").toggle();
							$("#returnBtn").toggle();
						});
					});
				</script>
			</div>
		</div>
	</div>
</body>
