<!DOCTYPE html>

<head>
<title>Nightbus | Geolocation Test </title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		function geoLocate() {
			var output = document.getElementById("out");

			if(!navigator.geolocation) {
				output.innerHTML = "<p> Geolocation is not supported by this browser </p>";
				return;
			}

			function success(position) {
				var lat = position.coords.latitude;
				var lng = position.coords.longitude;

				var socket = io.connect('http://' + document.domain + ':' + location.port);
				socket.on('connect', function() {
					socket.emit('my event', {data: lat});
				});

				output.innerHTML = "<p>Latitude is " + lat + "<br> Longitudte is " + lng + "</p>";
			}

			function error(position) {
				output.innerHTML = "<p> Unable to retrieve your location </p>"; 
			}

			output.innerHTML = "<p> Locating .... </p>";

			navigator.geolocation.getCurrentPosition(success, error);
		}
		
		var locate = setInterval(function () { 
								geoLocate (); 
					}, 1000);

	</script>

	geoLocate(){};
	setInterval(geoLocate
	<div id="out"></div>
</body>
</html>

