<!DOCTYPE html>

<head>
    <title>Nightbus | Home</title>
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
    
        <div class="header">
            <h1>Welcome to the Nightbus!</h1>
        </div>

        <div class="content">
            <div class="butt box">
                <h1>Please Sign In</h1>
                <button type="button"><a href="../rider">Rider</a></button>
                <button type="button"><a href="../driver">Driver</a></button>
                <button type="button"><a href="../admin">Admin</a></button>
            </div>
        </div>

    </div>

</body>