<!DOCTYPE html>
<head>
	<title>Nightbus | Drivers</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script type=text/javascript src="{{url_for('static',filename='jquery-3.2.1.js') }}"></script>
	<script src='../static/main.js'></script>
</head>

<body>
	<div class="wrapper">

	<div class="header">
		<h1>The NightBus</h1>
		<div class="nav">
			{% if session['logged_in'] %}
				{% if session['role'] == 'driver' %}
					<a href="{{ url_for('tracking') }}">Tracking</a>
					<a href="{{ url_for('rider') }}">Rider</a>
					<a href="{{ url_for('logout') }}">Sign Out</a>
				{% elif session['role'] == 'admin' %}
					<a href="{{ url_for('tracking') }}">Tracking</a>
					<a href="{{ url_for('admin') }}">Admin</a>
					<a href="{{ url_for('logout') }}">Sign Out</a>
				{% endif %}
			{% else %}
				<a href="{{ url_for('driverlogin') }}">Driver Login</a>
				<a href="{{ url_for('adminlogin') }}"> Admin Login</a>
			{% endif %}

		</div>
	</div>

	<div class="content">
		<div id="map" class="box">
		</div>
		<div id="map-panel" class="box">
		</div>

		{% if no_destinations %}
		<script>
		function myMap() {
			var mapOptions = {
				center: new google.maps.LatLng(51.5, -0.12),
				zoom: 10,
				mapTypeId: google.maps.MapTypeId.HYBRID
			}
			var map = new google.maps.Map(document.getElementById("map"), mapOptions);
		}
		</script>
		{% else %}
		<script>
			function myMap() {
				var directionsService = new google.maps.DirectionsService();
				var directionsDisplay = new google.maps.DirectionsRenderer()
				var mapProp = {
					zoom: 13,
					center: {lat: 45.4807525, lng: -122.6427379},
				}

				var map = new google.maps.Map(document.getElementById('map'), mapProp);

				directionsDisplay.setMap(map);
				directionsDisplay.setPanel(document.getElementById('map-panel'));

				var stops = [];
				{% for i in range(num_of_destinations) %}
					stops.push({location: "{{ destinations[i] }}", stopover: true});
				{% endfor %}

				var request = {
					origin: "{{ origin }}",
					destination: "{{ origin }}",
					waypoints: stops,
					travelMode: google.maps.DirectionsTravelMode.DRIVING
				};

				directionsService.route(request, function(response, status) {
					if (status == google.maps.DirectionsStatus.OK) {
					directionsDisplay.setDirections(response);
				} else {
					alert('error');
					console.log('error');
				}
				});
			}
		</script>
		{% endif %}
		<script
		async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE&callback=myMap">
		</script>
	</div>
</body>
