<!doctype html>
<head>
	<title>Nightbus | Add Users </title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Remove Users</h1>
	</div>
	<div class="content">
		<form action="/remove" method="post">
			<ul class="form-container">
				<li>
					<input type="text" placeholder="username" name="username" required><br>
				</li>
				<li>
					<input type="text" placeholder="email" name="email" required><br>
				</li>
				<li>
					<input class="submit-button" type="submit" value="Remove!">
				</li>
			</ul>
		</form>
	</div>
</div>
</body>
</html>
