<!doctype html>
<head>
	<title>Nightbus | Add Users </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="../static/css/mobile.css" media="screen and (max-device-width:480px)" rel="stylesheet">
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Remove Users</h1>
		<div class="nav">
			{% if session['logged_in'] %}
				<a href="{{ url_for('home') }}">Rider</a>
				<a href="{{ url_for('driver') }}">Driver</a>
				<a href="{{ url_for('admin') }}"> Admin</a>
				<a href="{{ url_for('logout') }}">Sign Out</a>
			{% endif %}
		</div>
	</div>
	<div class="content">
		<form action="/remove" method="post">
			<ul class="form-container login">
				<li>
					<span class="custom-dropdown custom-dropdown--white">
					    <select class="custom-dropdown__select custom-dropdown__select--white">
					    		<option value = "" disabled selected> Choose user </option>
					                    {% for person in drivers %}
					                    <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
					                    {% endfor %}
					    </select>
					</span>
					<br><br>
				</li>
				<li>
					<input type="text" placeholder="email" name="email" required><br>
				</li>
				<li>
					<input class="submit-button" type="submit" value="Remove!">
				</li>
			</ul>
		</form>
	</div>
</div>
</body>
</html>
