<!DOCTYPE html>

<head>
	<title>Nightbus | Riders</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
	<script src="https://ajax.microsoft.com/ajax/jquery.validate/1.7/additional-methods.js"></script>
	<script src='../static/js/main.js'></script>
	<link href="../static/css/normalize.css" rel="stylesheet">
	<link href="../static/css/style.css" media="screen and (min-device-width:768px)" rel="stylesheet">
	<link href="../static/css/mobile.css" media="screen and (max-device-width:480px)" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1><a href="{{ url_for('home')}}">NightBus | Riders</a></h1>
			<div class="nav">
			{% if user != None %}
				{% if user.role == 'admin' %}
					<a href="{{ url_for('home') }}"> Rider</a>
					<a href="{{ url_for('driver') }}"> Driver</a>
					<a href="{{ url_for('admin') }}"> Admin</a>
					<a href="{{ url_for('logout') }}"> Sign Out </a>
				{% else %}
					<a href="{{ url_for('home') }}"> Rider</a>
					<a href="{{ url_for('logout') }}"> Sign Out </a>
				{% endif %}
			{% else %}
				<span></span>
			{% endif %}
			</div>
		</div>

		<div class="rider-content">
			<div class="box bussie-center">

				<div class="icon-wrap">
					{% if "here" in status %}
						<img class="dex-icon" src="../static/gifs/reedhere.gif" alt="bus-img"/>
					{% elif "coming" in status %}
						<img class="dex-icon" src="../static/gifs/reedcoming.gif" alt="bus-img"/>
					{% elif "cancelled" in status%}
						<img class="dex-icon" src="../static/gifs/reedcancelled.gif" alt="bus-img"/>
					{% else %}
						<img class="dex-icon" src="../static/gifs/reedgone.gif" alt="bus-img"/>
					{% endif %}
				</div>
					{% if "here" in status %}
						<h2 id="whereis">The Nightbus is here!</h2>
					{% elif "coming" in status %}
						<h2 id="whereis">The NightBus is headed back!</h2>
					{% elif "cancelled" in status%}
						<h2 id="whereis">The NightBus is cancelled!</h2>
					{% else %}
						<h2 id="whereis">Route in Progress!</h2>
					{% endif %} 

				<div id="rider-instructions">
					<p>
						The Reed NightBus is a shuttle service provided by Reed College to make students who live off campus feel safe getting home late at night. All drivers are fellow Reed students.
						<br><br>
						Pick up location: Eliot Circle.
						<br><br>
						Shuttle boundaries are: Burnside to the north, Johnson Creek to the south, 82nd Avenue to the east, and downtown to the west.
						<br><br>
						If the NightBus does not arrive at the designated times please report the NightBus missing <span id = "missing" ><b>HERE</b></span>.
						<br><br>
						Additionally, if you are running late, but are still hoping to catch the NightBus click <span id = "late"><b>HERE</b></span> to ask the NightBus driver to wait for your arrival.
						Disclaimer: Though you can request the driver to wait, there is no guarantee that the driver will wait.
					</p>

					<div class="rider-alerts">
						<form class="rider-form" style="display:none" id="late-notice" action="https://script.google.com/macros/s/AKfycbzjwNLeHqatAsZVkRZf4mmibkplaHAxarPx1MHafy2HORV-mXVR/exec" method="post" enctype="text/plain">
							Name:
							<input type="text" name="name" required><br>
							Email:
							<input type="text" name="email" required><br><br>
							<span id="late-errors" class="rider-errors" style="display:none"></span>
							<input type="submit" id="latesubmit" onclick="validateLate()" value="I'm late! Please wait 5 minutes!"><br>
							<input type="button" id="lategoback" value="Go Back">
						</form>

						<form class="rider-form" style="display:none" id="report-missing" action="https://script.google.com/macros/s/AKfycbyjGWQhgB2aWIm0WiGr-cNxYmPLI3LNAHrNCMImGOoFNcOPpYeS/exec" method="post" enctype="text/plain">
							Name:
							<input type="text" name="name" required><br>
							Email:
							<input type="text" name="email" required><br><br>
							<span id="missing-errors" class="rider-errors" style="display:none"></span>
							<input type="submit" id="missingsubmit" onclick="validateMissing()" value="Report the NightBus missing"><br>
							<input type="button" id="missinggoback" value="Go Back">
						</form>
					</div>
				</div>
			</div>

			<script>
				$(document).ready(function() {
					$("#missing").click(function() {
						$("p").toggle();
						$("#report-missing").toggle();
					});
					$("#late").click(function() {
						$("p").toggle();
						$("#late-notice").toggle();
					});
					$("#missinggoback").click(function() {
						$("p").toggle();
						$("#report-missing").toggle();
					});
					$("#lategoback").click(function() {
						$("p").toggle();
						$("#late-notice").toggle();
					});
				});
			</script>

			<div id="rider-schedule" class="box">
				<table>
					<thead>
						<tr>
							<th colspan="2">Daily Schedule</th>
						</tr>
						<tr>
							<th>Sunday - Thursday</th>
							<th>Friday & Saturday</th>
						</tr>
					</thead>
					<tr>
						<td>
							<center>10:15 pm</center>
						</td>
						<td>
							<center>10:15 pm</center>
						</td>
					</tr>
					<tr>
						<td>
							<center>11:00 pm</center>
						</td>
						<td>
							<center>11:00 pm</center>
						</td>
					</tr>
					</tr>
					<td>
						<center>11:30 pm</center>
					</td>
					<td>
						<center>11:30 pm</center>
					</td>
					</tr>
					<tr>
						<td>
							<center>12:00 am</center>
						</td>
						<td>
							<center>12:00 am</center>
						</td>
						<tr>
						</tr>
						<td>
							<center>12:30 am</center>
						</td>
					</tr>
					<tr>
						<td>
							<center>1:00 am</center>
						</td>
						<tr>
							<td>
								<center>1:30 am</center>
							</td>
						</tr>
						<tr>
							<td>
								<center>2:00 am</center>
							</td>
						</tr>
						<tr>
							<td>
								<center>2:30 am</center>
							</td>
						</tr>
				</table>
			</div>
		</div>
	</div>
</body>
