<head>
	<title>Nightbus | Riders</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
	<script src="https://ajax.microsoft.com/ajax/jquery.validate/1.7/additional-methods.js"></script>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/mobile.css" media="screen and (max-device-with: 480px)">
</head>

<body>
  <div id="schedule" class="box">
    <table>
    <thead>
      <tr>
        <th colspan="2">Daily Schedule</th>
      </tr>
      <tr>
        <th>Sunday - Thursday</th>
        <th>Friday & Saturday</th>
      </tr>
    </thead>
      <tr>
        <td><center>10:15 pm</center></td>
      <td><center>10:15 pm</center></td>
      </tr>
      <tr>
        <td><center>11:00 pm</center></td>
      <td><center>11:00 pm</center></td>
       </tr>
    </tr>
        <td><center>11:30 pm</center></td>
      <td><center>11:30 pm</center></td>
      </tr>
      <tr>
        <td><center>12:00 am</center></td>
      <td><center>12:00 am</center></td>
        <tr>
        </tr>
        <td><center>12:30 am</center></td>
      </tr>
      <tr>
        <td><center>1:00 am</center></td>
        <tr>
        <td><center>1:30 am</center></td>
      </tr>
      <tr>
        <td><center>2:00 am</center></td>
    </tr>
    <tr>
        <td><center>2:30 am</center></td>
      </tr>
     </table>
    </div>
</body>
