<!DOCTYPE html>

<head>
	<title>Nightbus | Riders</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
	<script src="https://ajax.microsoft.com/ajax/jquery.validate/1.7/additional-methods.js"></script>
	<script src='../static/js/main.js'></script>
	<link href="../static/css/normalize.css" rel="stylesheet">
	<link href="../static/css/style.css" media="screen and (min-device-width:768px)" rel="stylesheet">
	<link href="../static/css/mobile.css" media="screen and (max-device-width:480px)" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<div class="header">
			<h1>NightBus | Riders</h1>
			<div class="nav">
				{% if session['logged_in'] %}
					{% if session['role'] == 'driver' %}
						<a href="{{ url_for('driver') }}">Driver</a>
						<a href="{{ url_for('logout') }}">Sign Out</a>
					{% elif session['role'] == 'admin' %}
						<a href="{{ url_for('driver') }}">Driver</a>
						<a href="{{ url_for('admin') }}">Admin</a>
						<a href="{{ url_for('logout') }}">Sign Out</a>
					{% endif %}
				{% else %}
						<a href="{{ url_for('driverlogin') }}">Driver Login</a>
						<a href="{{ url_for('adminlogin') }}"> Admin Login</a>
				{% endif %}
			</div>
		</div>

		<div class="rider-content">
			<div class="box bussie-center">

				<div class="icon-wrap">
					{% if "here" in status and duration > 0%}
						<img class="dex-icon" src="../static/gifs/fancygone.gif" alt="bus-img"/>
					{% elif "here" in status %}
						<img class="dex-icon" src="../static/gifs/fancyhere.gif" alt="bus-img"/>
					{% elif "coming" in status %}
						<img class="dex-icon" src="../static/gifs/fancycoming.gif" alt="bus-img"/>
					{% elif "cancelled" in status%}
						<img class="dex-icon" src="../static/gifs/fancycancelled.gif" alt="bus-img"/>
					{% else %}
						<img class="dex-icon" src="../static/gifs/fancygone.gif" alt="bus-img"/>
					{% endif %}
				</div>
				{% if duration > 0 %}
				<h2 id="whereis">The nightbus will be on campus in {{ duration }} minutes </h2> {% else %}
				<h2 id="whereis">The nightbus is {{status}}! </h2> {% endif %}

				<div id="rider-instructions">
					<p> The NightBus is a Reed sponsored late night transportation service that transports Reedies home. All drivers are fellow Reed students. The NightBus picks up riders every night from Eliot Circle. If the NightBus does not show up please report the
						NightBus missing using the form below. Additionally, if you are running late, but are still hoping to catch the NightBus please use the "Wait 5 minutes" form to ask the NightBus driver to wait for your arrival.
						<br><br><br>
						<a id="missingBtn">Report the NightBus missing</a>
						<br><br><br>
						<a id="lateBtn">I'm running late! Wait 5 minutes!</a>
					</p>

					<div class="rider-alerts">

						<form class="rider-form" style="display:none" id="late-notice" action="https://script.google.com/macros/s/AKfycbzjwNLeHqatAsZVkRZf4mmibkplaHAxarPx1MHafy2HORV-mXVR/exec" method="post" enctype="text/plain">
							Name: <br>
							<input type="text" name="name" required><br><br> Email: <br>
							<input type="text" name="email" required><br><br>
							<span id="late-errors" class="rider-errors"></span>
							<input type="submit" id="latesubmit" onclick="validateLate()" value="I'm late! Please wait 5 minutes!"><br><br>
							<input type="button" id="lategoback" value="Go Back">
						</form>

						<form class="rider-form" style="display:none" id="report-missing" action="https://script.google.com/macros/s/AKfycbyjGWQhgB2aWIm0WiGr-cNxYmPLI3LNAHrNCMImGOoFNcOPpYeS/exec" method="post" enctype="text/plain">
							Name: <br>
							<input type="text" name="name" required><br><br> Email: <br>
							<input type="text" name="email" required><br><br>
							<span id="missing-errors" class="rider-errors"></span>
							<input type="submit" id="missingsubmit" onclick="validateMissing()" value="Report the NightBus missing"><br><br>
							<input type="button" id="missinggoback" value="Go Back">
						</form>

					</div>
				</div>
			</div>

			<script>
				$(document).ready(function() {
					$("#missingBtn").click(function() {
						$("p").toggle();
						$("#report-missing").toggle();
					});
					$("#lateBtn").click(function() {
						$("p").toggle();
						$("#late-notice").toggle();
					});
					$("#missinggoback").click(function() {
						$("p").toggle();
						$("#report-missing").toggle();
					});
					$("#lategoback").click(function() {
						$("p").toggle();
						$("#late-notice").toggle();
					});
				});
			</script>

			<div id="rider-schedule" class="box">
				<table>
					<thead>
						<tr>
							<th colspan="2">Daily Schedule</th>
						</tr>
						<tr>
							<th>Sunday - Thursday</th>
							<th>Friday & Saturday</th>
						</tr>
					</thead>
					<tr>
						<td>
							<center>10:15 pm</center>
						</td>
						<td>
							<center>10:15 pm</center>
						</td>
					</tr>
					<tr>
						<td>
							<center>11:00 pm</center>
						</td>
						<td>
							<center>11:00 pm</center>
						</td>
					</tr>
					</tr>
					<td>
						<center>11:30 pm</center>
					</td>
					<td>
						<center>11:30 pm</center>
					</td>
					</tr>
					<tr>
						<td>
							<center>12:00 am</center>
						</td>
						<td>
							<center>12:00 am</center>
						</td>
						<tr>
						</tr>
						<td>
							<center>12:30 am</center>
						</td>
					</tr>
					<tr>
						<td>
							<center>1:00 am</center>
						</td>
						<tr>
							<td>
								<center>1:30 am</center>
							</td>
						</tr>
						<tr>
							<td>
								<center>2:00 am</center>
							</td>
						</tr>
						<tr>
							<td>
								<center>2:30 am</center>
							</td>
						</tr>
				</table>
			</div>
		</div>
	</div>

</body>
