<!DOCTYPE html>

<head>
  <title>Nightbus | Edit Schedule</title>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src='../static/js/main.js'></script>
	<link href="../static/css/normalize.css" rel="stylesheet">
	<link href="../static/css/style.css" media="screen and (min-device-width:768px)" rel="stylesheet">
	<link href="../static/css/mobile.css" media="screen and (max-device-width:480px)" rel="stylesheet">
  <style>
@media screen and (max-width: 768px) {
  .content {
    width: auto;
  }
  table {
    max-width: 100%;
  }
}
  </style>
</head>

<body>
  <div class="wrapper">

    <div class="header">
      <h1><a href="{{ url_for('home')}}"> Nightbus | Edit Schedule </a></h1>

      <div class="nav">
      {% if user != None %}
          <a href="{{ url_for('home') }}"> Rider</a>
          <a href="{{ url_for('driver') }}"> Driver</a>
          <a href="{{ url_for('admin') }}"> Admin</a>
      {% else %}
        <a href="/login">Login</a>
      {% endif %}
      </div>
    </div>
    <div class="content">
      <table>
        <thead>
              <tr>
                <th> Day </th>
                <th> Driver </th>
              </tr>
        </thead>
        <tr>
          <td> Monday </td>
          <td>
            <div class="dropdown">
              <select id="mon" name="driver_id">
										<option class="more-opt" value = "No">Choose driver</option>
                    {% for person in drivers %}
                    <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
                    {% endfor %}
                </select>
            </div>
          </td>
        </tr>
        <tr>
          <td> Tuesday </td>
          <td>
            <div class="dropdown">

              <select id="tue" name="driver_id">
										<option class="more-opt" value = "No">Choose driver</option>
                    {% for person in drivers %}
                    <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
                    {% endfor %}
                </select>
            </div>
          </td>
        </tr>
        <tr>
          <td> Wednesday </td>
          <td>
            <div class="dropdown">

              <select id="wed" name="driver_id">
										<option class="more-opt" value = "No">Choose driver</option>
                    {% for person in drivers %}
                    <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
                    {% endfor %}
                </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>Thursday </td>
          <td>
            <div class="dropdown">

              <select id="thu" name="driver_id">
									<option class="more-opt" value = "No">Choose driver</option>
                  {% for person in drivers %}
                  <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
                  {% endfor %}
                </select>
            </div>
          </td>
        </tr>
        <tr>
          <td> Friday </td>
          <td>
            <div class="dropdown">

              <select id="fri" name="driver_id">
										<option class="more-opt" value = "No">Choose driver</option>
                    {% for person in drivers %}
                    <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
                    {% endfor %}
                </select>
            </div>
          </td>
        </tr>
        <tr>
          <td> Saturday </td>
          <td>
            <div class="dropdown">

              <select id="sat" name="driver_id">
										<option class="more-opt" value = "No">Choose driver</option>
                    {% for person in drivers %}
                    <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
                    {% endfor %}
                </select>
            </div>
          </td>
        </tr>
        <tr>
          <td> Sunday </td>
          <td>
            <div class="dropdown">
              <select id="sun" name="driver_id">
										<option class="more-opt" value = "No">Choose driver</option>
                    {% for person in drivers %}
                    <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
                    {% endfor %}
                </select>
            </div>
          </td>
          <tr>
            <td class="switchwrap" colspan="2"><a class="switchbtn" id="submitbtn" href="display">Submit</a></td>
          </tr>
        </tr>

      </table>


    </div>

  </div>

  <script>
    $(document).ready(function() {
      $('select').change(function() {
        $('.more-opt').prop('selected', false);
        var drivers = [

          $("#mon").find(':selected').val(),
          $("#tue").find(':selected').val(),
          $("#wed").find(':selected').val(),
          $("#thu").find(':selected').val(),
          $("#fri").find(':selected').val(),
          $("#sat").find(':selected').val(),
          $("#sun").find(':selected').val(),
        ];

        $('#submitbtn').one('click', function(event) {
          event.preventDefault();
          $.ajax({
            url: "assign",
            type: "POST",
            data: {
              drivers: drivers
            },
            dataType: "json",
            success: function() {
              console.log("success");
            },
            error: function() {
              console.log("error");
            }
          });

        });

      });
    });
  </script>
</body>
