<!DOCTYPE html>
<head>
    <title>Nightbus | Riders</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">   
    <script type=text/javascript src="{{url_for('static',filename='jquery-3.2.1.js') }}"></script>
    <script src='../static/main.js'></script>
</head>

<body>
    <div class="wrapper">
    
    <div class="header">
        <h1>The NightBus</h1>
        <div class="nav">
			<a href="{{ url_for('display') }}">Display</a>
			<a href="{{ url_for('home') }}">Rider</a>
			<a href="{{ url_for('driver') }}">Driver</a>
			<a href="{{ url_for('admin') }}">Admin</a>
        </div>
    </div>
	<div class = "statusbox">
	</div>
	<div class = "content">
		<div class="schedule-container">
			<table>
				<thead>
					<tr>
						<th>Day</th>
						<th> Driver </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> Monday </td>
						<td><div class = "dropdown">
						<form action = "/assignmonday" method="post">
						<select name = "driver_id">
						{% for person in drivers %}
						<option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
						{% endfor %}
						</select>
						<input type ="submit">
						</form>
						</div> 
						</td>
					</tr>
					<tr>
						<td> Tuesday </td>
						<td><div class = "dropdown">
						<form action = "/assigntuesday" method="post">
						<select name = "driver_id">
						{% for person in drivers %}
						<option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
						{% endfor %}
						</select>
						<input type ="submit">
						</form>
						</div></td>
					</tr>
					<tr>
						<td> Wednesday </td>
						<td><div class = "dropdown">
						<form action = "/assignwednesday" method="post">
						<select name = "driver_id">
						{% for person in drivers %}
						<option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
						{% endfor %}
						</select>
						<input type ="submit">
						</form>
						</div></td>
					</tr>
					<tr>
						<td>Thursday </td>
						<td><div class = "dropdown">
						<form action = "/assignthursday" method="post">
						<select name = "driver_id">
						{% for person in drivers %}
						<option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
						{% endfor %}
						</select>
						<input type ="submit">
						</form>
						</div></td>
						</tr>
					<tr>
						<td> Friday </td>
						<td><div class = "dropdown">
						<form action = "/assignfriday" method="post">
						<select name = "driver_id">
						{% for person in drivers %}
						<option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
						{% endfor %}
						</select>
						<input type ="submit">
						</form>
						</div></td>
					</tr>
					<tr>
						<td> Saturday </td>
						<td><div class = "dropdown">
						<form action = "/assignsaturday" method="post">
						<select name = "driver_id">
						{% for person in drivers %}
						<option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
						{% endfor %}
						</select>
						<input type ="submit">
						</form>
						</div></td>
					</tr>
					<tr>
						<td> Sunday </td>
						<td><div class = "dropdown">
						<form action = "/assignsunday" method="post">
						<select name = "driver_id">
						{% for person in drivers %}
						<option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
						{% endfor %}
						</select>
						<input type ="submit">
						</form>
						</div></td>
					</tr>
				<tbody>
			</table>
		</div>
	</div>
</body>
