<!DOCTYPE html>
<head>
    <title>Nightbus | Riders</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">   
    <script type=text/javascript src="{{url_for('static',filename='jquery-3.2.1.js') }}"></script>
    <script src='../static/main.js'></script>
</head>

<body>
    <div class="wrapper">
    
    <div class="header">
        <h1>The NightBus</h1>
        <div class="nav">
            <h2><a href="/" >Sign-In</a><a href = "../rider">Rider</a><a href="../driver" >Driver</a><a href="../admin" >Admin</a></h2>
        </div>
    </div>
        <table class = "editdriverschedule">
            <tr>
                <th>Day</th>
                <th> Driver </th>
            </tr>
            <tr>
            <td> Monday </td>
        <td><div class = "dropdown">
            <form action = "/assignmonday" method="post">
            <select name = "driver_id">
            {% for person in drivers %}
            <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
            {% endfor %}
        </select>
        <input type ="submit">
    </form>
        </div> </td>
    </tr>
    <tr>
        <td> Tuesday </td>
        <td><div class = "dropdown">
            <form action = "/assigntuesday" method="post">
            <select name = "driver_id">
            {% for person in drivers %}
            <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
            {% endfor %}
        </select>
        <input type ="submit">
    </form>
        </div></td>
    </tr>
    <tr>
        <td> Wednesday </td>
        <td><div class = "dropdown">
            <form action = "/assignwednesday" method="post">
            <select name = "driver_id">
            {% for person in drivers %}
            <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
            {% endfor %}
        </select>
        <input type ="submit">
    </form>
        </div></td>
    </tr>
    <tr>
        <td>Thursday </td>
        <td><div class = "dropdown">
            <form action = "/assignthursday" method="post">
            <select name = "driver_id">
            {% for person in drivers %}
            <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
            {% endfor %}
        </select>
        <input type ="submit">
    </form>
        </div></td>
        </tr>
        <tr>
        <td> Friday </td>
        <td><div class = "dropdown">
            <form action = "/assignfriday" method="post">
            <select name = "driver_id">
            {% for person in drivers %}
            <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
            {% endfor %}
        </select>
        <input type ="submit">
    </form>
        </div></td>
    </tr>
    <tr>
        <td> Saturday </td>
        <td><div class = "dropdown">
            <form action = "/assignsaturday" method="post">
            <select name = "driver_id">
            {% for person in drivers %}
            <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
            {% endfor %}
        </select>
        <input type ="submit">
    </form>
        </div></td>
    </tr>
    <tr>
        <td> Sunday </td>
        <td><div class = "dropdown">
            <form action = "/assignsunday" method="post">
            <select name = "driver_id">
            {% for person in drivers %}
            <option value = {{person.id}} >{{ person.firstname}} {{ person.lastname }}, ID: {{ person.id }}</option>
            {% endfor %}
        </select>
        <input type ="submit">
    </form>
        </div></td>
    </tr>
</table>
    </div>

        </div>
    </div>

    </div>

</body>
