<!doctype html>

<head>
	<title>Nightbus | Add Users </title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
	<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/additional-methods.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="header">
			<h1>Add Users</h1>
		</div>
		<div class="content">
			<form action="/register" method="post">
				<ul class="form-container">
					<li>
						{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
					</li>
					<li>
						<input type="text" placeholder="first name" name="firstname" required><br>
					</li>
					<li>
						<input type="text" placeholder="last name" name="lastname" required><br>
					</li>
					<li>
						<input type="text" placeholder="username" name="username" required><br>
					</li>
					<li>
						<input type="email" placeholder="email" name="email" required><br>
					</li>
					<li>
						<input type="text" placeholder="role" name="role" required><br>
					</li>
					<li>
						<input type="password" placeholder="password" name="password" required><br>
					</li>
					<li>
						<input class="submit-button" type="submit" value="Save!">
					</li>
				</ul>
				<!-- "messageBox" has to be placed inside the form to prevent duplicate error messages -->
				<div id="messageBox">
				</div>
			</form>
		</div>
		<script>
			$(function() {
				$('form').validate({

					// place error messages in the "messageBox" div
					errorPlacement: function(error, element) {
						error.appendTo($("#messageBox"));
						// style error msgs
						offset = element.offset();
						$("#messageBox").css({
							'display': 'block',
							'position': 'absolute',
							'z-index': '10',
							'color': '#f7f7f7',
							'top': offset.top,
							'left': offset.left + element.outerWidth() + 65
						});

						// clear error msgs on keypress and input change
						$("input").on({
							keyup: function() {
								$(error).remove();
							},
							change: function() {
								$(error).remove();
							}
						});
					},

					//Specify validation rules
					rules: {
						firstname: "required",
						lastname: "required",
						username: {
							required: true,
							// check if username already exists.
							remote: {
								url: 'username_exists',
								type: 'post',
								data: {
									username: function() {
										return $("input[name=username]").val()
									}
								}
							}
						},
						email: {
							required: true,
							email: true // Specify that email should be validated by the built-in "email" rule
						},
						password: {
							required: true,
							minlength: 5
						}
					},
					
					// Specify validation error messages
					messages: {
						firstname: "Please enter your firstname",
						lastname: "Please enter your lastname",
						username: {
							required: "Please enter your username",
						},
						password: {
							required: "Please provide a password",
							minlength: "Your password must be at least 5 characters long"
						},
						email: "Please enter a valid email address"
					},
					submitHandler: function(form) {
						// form.valid();
						form.submit();
					}
				});
			});
		</script>
	</div>
</body>

</html>
