<!DOCTYPE html>
<head>
	<title>Nightbus | Drivers</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script type=text/javascript src="{{url_for('static',filename='jquery-3.2.1.js') }}"></script>
	<script src='../static/main.js'></script>
</head>

<body>
	<div class="wrapper">

	<div class="header">
		<h1>The NightBus</h1>
		<div class="nav">
			{% if session['logged_in'] %}
				{% if session['role'] == 'driver' %}
					<a href="{{ url_for('drivermaps') }}">Maps</a>
					<a href="{{ url_for('rider') }}">Rider</a>
					<a href="{{ url_for('logout') }}">Sign Out</a>
				{% elif session['role'] == 'admin' %}
					<a href="{{ url_for('drivermaps') }}">Maps</a>
					<a href="{{ url_for('admin') }}">Admin</a>
					<a href="{{ url_for('logout') }}">Sign Out</a>
				{% endif %}
			{% else %}
				<a href="{{ url_for('driverlogin') }}">Driver Login</a>
				<a href="{{ url_for('adminlogin') }}"> Admin Login</a>
			{% endif %}
		</div>
	</div>
		<div class="content">
			<div class="instructions" id="numOfRiders">
				<ul>
					<li>
						<input type="number" placeholder="number of destinations" name="num_destinations" required><br>
					</li>
					<li style="border: none;"><a id="toggleBtn">Add Addresses</a></li>
				</ul>
			</div>
			<form id="addressEntryForm" style="display:none" action="/tracking" method="post">
				<ul class="form-container" >
					<li>
						<input type="number" placeholder="number of destinations" name="num_destinations" required><br>
					</li>
					<li>
						<input type="text" placeholder="origin" name="origin" required><br>
					</li>
					<li>
						<input type="text" placeholder="first address" name="address1" required><br>
					</li>
					<li>
						<input type="text" placeholder="second address" name="address2"><br>
					</li>
					<li>
						<input type="text" placeholder="third address" name="address3"><br>
					</li>
					<li>
						<input type="text" placeholder="fourth address" name="address4"><br>
					</li>
					<li>
						<input type="text" placeholder="fifth address" name="address5"><br>
					</li>
					<li>
						<input class="submit-button" name="submit" type="submit" value="Save!">
					</li>
					<li>
						<a id="returnBtn" style="display:none">Back</a>
					</li>
				</ul>
			</form>
		</div>
			<script>
				$(document).ready(function() {
					$("#toggleBtn").click(function() {
						$("#numofRiders").toggle();
						$("#addressEntryForm").toggle();
						$("#returnBtn").toggle();
					});
				});
			</script>



			<script>
			$(document).ready(function() {
				$("#returnBtn").click(function() {
					$("#numOfRiders").toggle();
					$("#addressEntryForm").toggle();
					$("#returnBtn").toggle();
				});
			});
			</script>
</body>
